# Ignore virtual environments
venv/
.venv/

# Ignore Python caches
__pycache__/
*.pyc

# Ignore local data
data/
datasets/
downloads/
cache/
tmp/
*.log

# Ignore Git stuff
.git/
.gitignore

# Ignore Chainlit cache
.chainlit/

# Ignore Qdrant local DB
qdrant/
qdrant_storage/

# Ignore model files
*.bin
*.ckpt
*.pt

# Ignore OS files
*.zip
*.7z
*.rar
*.tar
*.gz

# Do not include chrome/chromedriver folders
chromedriver/
selenium/
