--extra-index-url https://download.pytorch.org/whl/cpu
torch
torchvision
sentence-transformers
groq
qdrant-client
llama-index-core
llama-index-readers-file
llama-index-embeddings-huggingface
llama-index-vector-stores-qdrant
llama-index-llms-groq
chainlit



