torch==2.1.0+cpu -f https://download.pytorch.org/whl/cpu
sentence-transformers
groq
qdrant-client
llama-index-core
llama-index-readers-file
llama-index-embeddings-huggingface
llama-index-vector-stores-qdrant
llama-index-llms-groq
chainlit

